{% extends "Jd/main.html" %}

{% block meta %} {% endblock %} 

{% block title %}
  <title>All Categories</title> 
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="../../static/styles/category.css">
{% endblock %}

{% block content %}

<main>
    <section class="category-sec">
          <div class="cat">
              <div class="heading">
                  <h3>All Categories</h3>
              </div>
              <div class="category-cont">

                <div class="column-container">
                  <div class="-cat-">
                    <h4>Adiy</h4>
                    <ul>
                        <li><a href="#">Wireless Modules</a></li>
                        <li><a href="#">Breakout Boards</a></li>
                        <li><a href="#">Development Boards and Shields</a></li>
                        <li><a href="#">Motor Drivers</a></li>
                        <li><a href="#">Sensors</a></li>
                    </ul>
                  </div>
                  <div class="-cat-">
                      <h4>Adiy</h4>
                      <ul>
                          <li><a href="#">Wireless Modules</a></li>
                          <li><a href="#">Breakout Boards</a></li>
                      </ul>
                  </div>
                  <div class="-cat-">
                    <h4>Adiy</h4>
                    <ul>
                        <li><a href="#">Wireless Modules</a></li>
                        <li><a href="#">Breakout Boards</a></li>
                        <li><a href="#">Development Boards and Shields</a></li>
                        <li><a href="#">Motor Drivers</a></li>
                        <li><a href="#">Sensors</a></li>
                    </ul>
                  </div>
                  <div class="-cat-">
                    <h4>Adiy</h4>
                    <ul>
                        <li><a href="#">Wireless Modules</a></li>
                        <li><a href="#">Breakout Boards</a></li>
                        <li><a href="#">Development Boards and Shields</a></li>
                        <li><a href="#">Motor Drivers</a></li>
                        <li><a href="#">Sensors</a></li>
                    </ul>
                  </div>
                  <div class="-cat-">
                    <h4>Adiy</h4>
                    <ul>
                        <li><a href="#">Wireless Modules</a></li>
                        <li><a href="#">Breakout Boards</a></li>
                        <li><a href="#">Development Boards and Shields</a></li>
                        <li><a href="#">Motor Drivers</a></li>
                        <li><a href="#">Sensors</a></li>
                    </ul>
                  </div>
                </div>

                <div class="column-container">
                  <div class="-cat-">
                    <h4>Adiy</h4>
                    <ul>
                        <li><a href="#">Wireless Modules</a></li>
                        <li><a href="#">Breakout Boards</a></li>
                        <li><a href="#">Development Boards and Shields</a></li>
                        <li><a href="#">Motor Drivers</a></li>
                        <li><a href="#">Sensors</a></li>
                    </ul>
                  </div>
                  <div class="-cat-">
                      <h4>Adiy</h4>
                      <ul>
                          <li><a href="#">Wireless Modules</a></li>
                          <li><a href="#">Breakout Boards</a></li>
                      </ul>
                  </div>
                  <div class="-cat-">
                    <h4>Adiy</h4>
                    <ul>
                        <li><a href="#">Wireless Modules</a></li>
                        <li><a href="#">Breakout Boards</a></li>
                        <li><a href="#">Sensors</a></li>
                    </ul>
                  </div>
                  <div class="-cat-">
                    <h4>Adiy</h4>
                    <ul>
                        <li><a href="#">Wireless Modules</a></li>
                        <li><a href="#">Breakout Boards</a></li>
                        <li><a href="#">Development Boards and Shields</a></li>
                        <li><a href="#">Motor Drivers</a></li>
                        <li><a href="#">Sensors</a></li>
                        <li><a href="#">Development Boards and Shields</a></li>
                        <li><a href="#">Motor Drivers</a></li>
                        <li><a href="#">Sensors</a></li>
                    </ul>
                  </div>
                  <div class="-cat-">
                    <h4>Adiy</h4>
                    <ul>
                        <li><a href="#">Wireless Modules</a></li>
                        <li><a href="#">Breakout Boards</a></li>
                        <li><a href="#">Sensors</a></li>
                    </ul>
                  </div>
                </div>

                <div class="column-container">
                  <div class="-cat-">
                    <h4>Adiy</h4>
                    <ul>
                        <li><a href="#">Wireless Modules</a></li>
                    </ul>
                  </div>
                  <div class="-cat-">
                      <h4>Adiy</h4>
                      <ul>
                          <li><a href="#">Wireless Modules</a></li>
                          <li><a href="#">Breakout Boards</a></li>
                      </ul>
                  </div>
                  <div class="-cat-">
                    <h4>Adiy</h4>
                    <ul>
                        <li><a href="#">Wireless Modules</a></li>
                        <li><a href="#">Breakout Boards</a></li>
                        <li><a href="#">Development Boards and Shields</a></li>
                        <li><a href="#">Sensors</a></li>
                    </ul>
                  </div>
                  <div class="-cat-">
                    <h4>Adiy</h4>
                    <ul>
                        <li><a href="#">Wireless Modules</a></li>
                        <li><a href="#">Breakout Boards</a></li>
                        <li><a href="#">Development Boards and Shields</a></li>
                        <li><a href="#">Motor Drivers</a></li>
                        <li><a href="#">Sensors</a></li>
                    </ul>
                  </div>
                  <div class="-cat-">
                    <h4>Adiy</h4>
                    <ul>
                        <li><a href="#">Wireless Modules</a></li>
                        <li><a href="#">Breakout Boards</a></li>
                        <li><a href="#">Development Boards and Shields</a></li>
                        <li><a href="#">Motor Drivers</a></li>
                        <li><a href="#">Sensors</a></li>
                    </ul>
                  </div>
                </div>

                <div class="column-container">
                  <div class="-cat-">
                    <h4>Adiy</h4>
                    <ul>
                        
                        <li><a href="#">Motor Drivers</a></li>
                        <li><a href="#">Sensors</a></li>
                    </ul>
                  </div>
                  <div class="-cat-">
                      <h4>Adiy</h4>
                      <ul>
                          <li><a href="#">Wireless Modules</a></li>
                          <li><a href="#">Breakout Boards</a></li>
                          <li><a href="#">Wireless Modules</a></li>
                          <li><a href="#">Breakout Boards</a></li>
                          <li><a href="#">Development Boards and Shields</a></li>
                          <li><a href="#">Motor Drivers</a></li>
                      </ul>
                  </div>
                  <div class="-cat-">
                    <h4>Adiy</h4>
                    <ul>
                        <li><a href="#">Wireless Modules</a></li>
                        <li><a href="#">Breakout Boards</a></li>
                        <li><a href="#">Development Boards and Shields</a></li>
                        <li><a href="#">Motor Drivers</a></li>
                        <li><a href="#">Sensors</a></li>
                    </ul>
                  </div>
                  <div class="-cat-">
                    <h4>Adiy</h4>
                    <ul>
                        <li><a href="#">Wireless Modules</a></li>
                        <li><a href="#">Breakout Boards</a></li>
                        <li><a href="#">Sensors</a></li>
                    </ul>
                  </div>
                  <div class="-cat-">
                    <h4>Adiy</h4>
                    <ul>
                        <li><a href="#">Wireless Modules</a></li>
                        <li><a href="#">Breakout Boards</a></li>
                        <li><a href="#">Wireless Modules</a></li>
                        <li><a href="#">Breakout Boards</a></li>
                        <li><a href="#">Sensors</a></li>
                        <li><a href="#">Development Boards and Shields</a></li>
                        <li><a href="#">Motor Drivers</a></li>
                        <li><a href="#">Sensors</a></li>
                    </ul>
                  </div>
                </div>
                  
              </div>
          </div>
    </section>        

    <!-- category scroll -->
    <section class="categories-section">
      <div class="categories-container">
        <span id="left-scroll"><</span>

        <div class="category"><a href="#">Arduino</a></div>
        <div class="category"><a href="#">Acceptor</a></div>
        <div class="category"><a href="#">Boards</a></div>
        <div class="category"><a href="#">Bluetooth Modules</a></div>

        <div class="category"><a href="#">Connectors</a></div>
        <div class="category"><a href="#">Crystals & Oscillators</a></div>
        <div class="category"><a href="#">Digital Timer</a></div>
        <div class="category"><a href="#">Displays</a></div>
        <div class="category"><a href="#">Motors</a></div>
        <div class="category"><a href="#">MP3 Modules</a></div>
        <div class="category"><a href="#">Sensors</a></div>
        <div class="category"><a href="#">Potentiometers</a></div>
        <div class="category"><a href="#">Thermoelectric Modules</a></div>
        <div class="category"><a href="#">Solenoid Valve</a></div>
        <div class="category"><a href="#">Raspberry Pi</a></div>
        <div class="category"><a href="#">Water Flow Sensors</a></div>
        <div class="category"><a href="#">
          Wifi Modules</a></div>
        <div class="category"><a href="#">Water Pump</a></div>
        <div class="category"><a href="#">Water Float Sensors</a></div>
        <div class="category"><a href="#">
          Water Flow Sensors</a></div>
        <div class="category"><a href="#">Wires and Cables</a></div>
        <div class="category"><a href="#">XBEE Modules</a></div>
        <span id="right-scroll">></span>
      </div>
    </section>
</main>

{% endblock %}

{% block scrips %} 
<script src="../static/scripts/shop.js" type="module"></script>

{% endblock %}
