<footer>
  <section class="footer">
    <div class="info">
      <div class="info-links">
        <li><a href="{% url 'about' %}">ABOUT US</a></li>
        <li><a href="{% url 'contact' %}">CONTACT US</a></li>
        <li><a href="#">RETURN POLICY</a></li>
        <li><a href="#">PRIVACY POLICY</a></li>
        <li><a href="#">TERMS AND CONDITIONS</a></li>
      </div>
      <div class="short-info">
        <p>
          Your best online electronic components shop in Kenya and East Africa
          Specializing in all types of electronic components & gadgets of all
          shape and sizes.
        </p>
      </div>
    </div>
    <div class="terms">
      <div class="follow-us">
        <!-- <p>Follow Us</p> -->
        <a href="https://x.com/" target="_blank">
          <img src="../../static/images/x.svg" alt="twiter icon" />
        </a>
        <a href="https://www.facebook.com/" target="_blank">
          <img src="../../static/images/fb.svg" alt="fb icon" />
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <img src="../../static/images/ig.svg" alt="ig icon" />
        </a>
        <a href="https://www.linkedin.com/" target="_blank">
          <img src="../../static/images/linkedin.svg" alt="linked in icon" />
        </a>
        <a href="https://www.tiktok.com/" target="_blank">
          <img src="../../static/images/tiktok.svg" alt="tiktok icon" />
        </a>
      </div>
      <div class="terms-conditions">
        <a id="p-p" href="#">privacy policy</a>
        <a id="c-p" href="#">&copy; 2024 JD Tech, Juja</a>
        <a id="a-r-r" href="#">allrightsreverved</a>
      </div>
    </div>
  </section>
</footer>
