<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
    <link rel="stylesheet" href="../static/styles/common.css" />
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/main-cart.css">
    <link rel="stylesheet" href="../static/styles/footer.css">

  </head>
  <body>
    <header>
      <section id="header">

        <div class="menu-div">
          <div class="menu">
            <img id="menu-icon" onclick="toggleMenu()" src="../static/images/menu-2.svg" alt="">
            <div id="menu-container" class="menu-container">
              <div id="menu-nav" class="menu-nav">
                <h3>Menu</h3>
                <ul class="menu-links">
                  <li><a href="#">All Categories </a></li>
                  <li><a href="#">All Products </a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="logo-name">
            <a href="">
              <img id="logo-icon" src="../static/images/comapany-logo.jpg" alt="">
            </a>
          </div>
        </div>

        <div class="search">
          <div class="search-bar">
            <input id="search-input" type="text">
            <img id="search-icon" src="../static/images/search-icon.svg" alt="">
          </div>
        </div>

        <div class="account">
          <div class="profile">
            <div id="profile-div" class="profile-menu" onclick="toggleAccMenu()">
              <img id="profile-icon" src="../static/images/profile-icon.svg" alt="">
              <p id="profile-name">Account</p>
            </div>
            <div id="profile-container" class="profile-container">
                <div id="profile-nav" class="profile-nav">
                  <h3>Account</h3>
                  <ul class="profile-links">
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">My Orders</a></li>
                    <li><a href="#">My Account</a></li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="cart">
            <a href="#">
              <img id="cart-icon" src="../static/images/cart-icon.svg" alt="">
            </a>
            <span id="cart-items">2</span>
          </div>
        </div>
      </section>
    </header>


    <!-- main body -->
    <main>

        <section class="my-cart">
            <div class="need-help">
                <p>Need Help: call / Whatsapp <strong>0712345678</strong></p>
                <a class="chat" href="#">
                    <img src="../static/images/whatsapp-icon.svg" alt="">
                    <p>Chat</p>
                </a>
            </div>
            <div class="my-cart">
                <div class="-cart-">
                    <h2>My Cart </h2>
                    <div class="item-container">
                        <div class="total-items">Total Items : (<span id="total-items"></span>) </div>
                        <div id="-id-1" class="at-item">
                            <div class="item-img">
                                <a href="#">
                                    <img src="../static/images/capacitors-3.jpg" alt="">
                                </a>                                
                            </div>
                            <div class="item-details">
                                <div class="item-info">
                                    <h4>Product Name</h4>
                                    <p>
                                        High Sensitivity Sound Microphone 
                                        Sensor Detection Module for Arduino 
                                        AVR PIC <br> High Sensitivity Sound Microphone 
                                        Sensor Detection Module for Arduino AVR PIC
                                    </p>
                                    <p>@ <strong class="price-each">Ksh 100</strong></p>
                                    
                                </div>
                                <div class="item-subtotal">
                                    <p>SubTotal :</p>
                                    <p><strong class="sub-total"></strong></p>                            
                                </div>
                                <div class="item-quantity">
                                    <p>Quantity</p>
                                    <div class="item-quantity-count">
                                        <span class="minus">-</span>
                                        <p class="qty">2</p>
                                        <span class="plus">+</span>
                                    </div>
                                    <button id="cancel-item" onclick="removeItem('-id-1')">Remove Item</button>
                                </div>
                            </div>
                        </div>
                        <div id="-id-2" class="at-item">
                            <div class="item-img">
                                <a href="#">
                                    <img src="../static/images/capacitors-3.jpg" alt="">
                                </a>                                
                            </div>
                            <div class="item-details">
                                <div class="item-info">
                                    <h4>Product Name</h4>
                                    <p>
                                        High Sensitivity Sound Microphone 
                                        Sensor Detection Module for Arduino 
                                        AVR PIC High Sensitivity Sound Microphone 
                                        Sensor Detection Module for Arduino 
                                        AVR PIC AVR PIC High Sensitivity Sound Microphone 
                                        Sensor Detection Module for Arduino 
                                        AVR PIC
                                    </p>
                                    <p>@ <strong class="price-each">Ksh 100</strong></p>
                                    
                                </div>
                                <div class="item-subtotal">
                                    <p>SubTotal :</p>
                                    <p><strong class="sub-total"></strong></p>                            
                                </div>
                                <div class="item-quantity">
                                    <p>Quantity</p>
                                    <div class="item-quantity-count">
                                        <span class="minus">-</span>
                                        <p class="qty">4</p>
                                        <span class="plus">+</span>
                                    </div>
                                    <button id="cancel-item" onclick="removeItem('-id-2')">Remove Item</button>
                                </div>
                            </div>
                        </div>
                        <div id="-id-3" class="at-item">
                            <div class="item-img">
                                <a href="#">
                                    <img src="../static/images/capacitors-3.jpg" alt="">
                                </a>                                
                            </div>
                            <div class="item-details">
                                <div class="item-info">
                                    <h4>Product Name</h4>
                                    <p>
                                        High Sensitivity Sound Microphone
                                    </p>
                                    <p>@ <strong class="price-each">Ksh 100</strong></p>
                                    
                                </div>
                                <div class="item-subtotal">
                                    <p>SubTotal :</p>
                                    <p><strong class="sub-total"></strong></p>                            
                                </div>
                                <div class="item-quantity">
                                    <p>Quantity</p>
                                    <div class="item-quantity-count">
                                        <span class="minus">-</span>
                                        <p class="qty">2</p>
                                        <span class="plus">+</span>
                                    </div>
                                    <button id="cancel-item" onclick="removeItem('-id-3')">Remove Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="summary-info">
                    <div class="delivery-info">
                        <h3>Delivery Details</h3>
                        <div class="delivery-location">
                            <h4>Choose Your Delivery Location</h4>
                            <select name="County" id="">
                                <option value="County">County</option>
                                <option value="Kiambu">Kiambu</option>
                                <option value="Nairobi">Nairobi</option>
                                <option value="Nairobi">Murang'a</option>
                                <option value="Nairobi">Nyeri</option>
                                <option value="Nairobi">Kirinyanga</option>
                            </select>
                            <select name="Loaction" id="">
                                <option value="Location">Location</option>
                                <option value="Juja">Juja</option>
                                <option value="Thika">Thika</option>
                                <option value="Kimbo">Kimbo</option>
                            </select>
                            <input type="text" id="" placeholder="Specific Location">
                        </div>
                        
                        <div class="delivery-fees">
                            <h4>Delivery Fee</h4>
                            <p id="delivery-price">Ksh 0</p>
                        </div>
                        <div class="no-delivery">
                            <input type="checkbox" id="exampleCheckbox" name="exampleCheckbox">
                            <p>Pick Up at Our Store @ <strong>Ksh 0.00</strong></p>
                        </div>
                        <div class="delivery-date">
                            <p>Delivery can Take at Most <strong>2 Days</strong></p>
                        </div>
                        <div class="need-help-2">
                            <p>Need Help: call / Whatsapp <strong>0712345678</strong></p>
                            <div class="chat">                               
                                <a class="chat" href="https://api.whatsapp.com/send?phone=254715813116&text=Helloo" target="_blank">
                                  <img src="../static/images/whatsapp-icon.svg" alt="">
                                  <p>Chat</p>
                                </a>
                            </div>
                        </div>
                        <div class="Total-all">
                            <h3>Total</h3>
                            <p><strong id="total-price-all">Ksh 1, 900.00</strong></p>
                        </div>
                        <div class="proceed-payment">
                            <button><a href="http://192.168.100.70:5001/checkout">Proceed To Pay</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

      <section class="categories-section">
        <div class="categories-container">
          <span id="left-scroll"><</span>

          <div class="category"><a href="#">Arduino</a></div>
          <div class="category"><a href="#">Acceptor</a></div>
          <div class="category"><a href="#">Boards</a></div>
          <div class="category"><a href="#">Bluetooth Modules</a></div>

          <div class="category"><a href="#">Connectors</a></div>
          <div class="category"><a href="#">Crystals & Oscillators</a></div>
          <div class="category"><a href="#">Digital Timer</a></div>
          <div class="category"><a href="#">Displays</a></div>
          <div class="category"><a href="#">Motors</a></div>
          <div class="category"><a href="#">MP3 Modules</a></div>
          <div class="category"><a href="#">Sensors</a></div>
          <div class="category"><a href="#">Potentiometers</a></div>
          <div class="category"><a href="#">Thermoelectric Modules</a></div>
          <div class="category"><a href="#">Solenoid Valve</a></div>
          <div class="category"><a href="#">Raspberry Pi</a></div>
          <div class="category"><a href="#">Water Flow Sensors</a></div>
          <div class="category"><a href="#">
            Wifi Modules</a></div>
          <div class="category"><a href="#">Water Pump</a></div>
          <div class="category"><a href="#">Water Float Sensors</a></div>
          <div class="category"><a href="#">
            Water Flow Sensors</a></div>
          <div class="category"><a href="#">Wires and Cables</a></div>
          <div class="category"><a href="#">XBEE Modules</a></div>
          <span id="right-scroll">></span>
        </div>
      </section>
        
    </main>

    <!-- footer -->
    <footer>
      <section class="footer">
        <div class="info">
          <div class="info-links">
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">CONTACT US</a></li>
            <li><a href="#">RETURN POLICY</a></li>
            <li><a href="#">PRIVACY POLICY</a></li>
            <li><a href="#">TERMS AND CONDITIONS</a></li>
          </div>
          <div class="short-info">
            <p>Your best online electronic components shop 
              in Kenya and East Africa Specializing in all 
              types of electronic components & gadgets of 
              all shape and sizes.</p>
          </div>
        </div>
        <div class="terms">
          <div class="follow-us">
            <!-- <p>Follow Us</p> -->
            <a href="https://x.com/" target="_blank">
              <img src="../static/images/x.svg" alt="twiter icon">
            </a>
            <a href="https://www.facebook.com/" target="_blank">
              <img src="../static/images/fb.svg" alt="fb icon">
            </a>
            <a href="https://www.instagram.com/" target="_blank">
              <img src="../static/images/ig.svg" alt="ig icon">
            </a>
            <a href="https://www.linkedin.com/" target="_blank">
              <img src="../static/images/linkedin.svg" alt="linked in icon">
            </a>
            <a href="https://www.tiktok.com/" target="_blank">
              <img src="../static/images/tiktok.svg" alt="tiktok icon">
            </a>
          </div>
          <div class="terms-conditions">
            <a id="p-p" href="#">privacy policy</a>
            <a id="c-p" href="#">&copy; 2024 JD Tech, Juja</a>
            <a id="a-r-r" href="#">allrightsreverved</a>
          </div>
        </div>
      </section>
    </footer>
  </body>
<script src="../static/scripts/header.js"></script>
<script src="../static/scripts/main.js"></script>
<script src="../static/scripts/cart.js"></script>
</html>

