<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout</title>
    <link rel="stylesheet" href="../static/styles/common.css" />
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/checkout.css">
    <link rel="stylesheet" href="../static/styles/footer.css">

  </head>
  <body>
    <header>
      <section id="header">

        <div class="menu-div">
          <div class="menu">
            <img id="menu-icon" onclick="toggleMenu()" src="../static/images/menu-2.svg" alt="">
            <div id="menu-container" class="menu-container">
              <div id="menu-nav" class="menu-nav">
                <h3>Menu</h3>
                <ul class="menu-links">
                  <li><a href="#">All Categories </a></li>
                  <li><a href="#">All Products </a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="logo-name">
            <a href="">
              <img id="logo-icon" src="../static/images/comapany-logo.jpg" alt="">
            </a>
          </div>
        </div>

        <div class="search">
          <div class="search-bar">
            <input id="search-input" type="text">
            <img id="search-icon" src="../static/images/search-icon.svg" alt="">
          </div>
        </div>

        <div class="account">
          <div class="profile">
            <div id="profile-div" class="profile-menu" onclick="toggleAccMenu()">
              <img id="profile-icon" src="../static/images/profile-icon.svg" alt="">
              <p id="profile-name">Account</p>
            </div>
            <div id="profile-container" class="profile-container">
                <div id="profile-nav" class="profile-nav">
                  <h3>Account</h3>
                  <ul class="profile-links">
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">My Orders</a></li>
                    <li><a href="#">My Account</a></li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="cart">
            <a href="#">
              <img id="cart-icon" src="../static/images/cart-icon.svg" alt="">
            </a>
            <span id="cart-items">2</span>
          </div>
        </div>
      </section>
    </header>


    <!-- main body -->
    <main>

      <section class="checkout">
        <div class="checkout-details">
          <h3>Delivery Details</h3>
          <div class="detail-container">
            <div class="delivery-info">
              <div class="total-info">
                <h4><strong>6</strong> Items</h4>
                <h4>Total: <strong>Ksh 1, 900.00</strong></h4>
              </div>
              <div class="date-info">
                <p>Delivery Date</p>
                <p>16 Feb - 17 Feb</p>
              </div>
              <div class="location-info">
                <p>Deliver Location</p>
                <div class="location">
                  <p>Kimbo, Matangi, Biashara, 'Rurii'</p>
                  <a href="#">Change</a>
                </div>
              </div>
              <div class="status-info">
                <p>Payment Status</p>
                <div class="payment-loading">
                  <img src="../static/images/loading.gif" alt="">
                </div>
                <h4><strong>Not Payed</strong></h4>
              </div>
            </div>
            <div class="need-help">
              <div class="help">
                <p>Need Help: Call / Whatsapp <strong>0712345678</strong></p>
                <a id="chat" href="#">
                  <img src="../static/images/whatsapp-icon.svg" alt="">
                  <p>Chat</p>
                </a>
              </div>
            </div>
          </div>
        </div>

      </section>

      <section class="payment">
        <div class="payment-container">
          <div class="payment-method">
            <h4>Choose Your Payment Method</h4>
            <div class="select-payment-method-container">
              <select name="Payment Method" id="payment-method">
                <option value="mpesa-send-money">Mpesa Send Money</option>
                <option value="mpesa-paybill">Mpesa Paybill</option>
                <option value="mpesa-pochi">Pochi La Biashara</option>
              </select>
            </div>
          </div>

          <div class="payment-options">
            <div class="mpesa-send-money-option">
              <div class="payment-directions">
                <h4>Mpesa Send Money</h4>
                <p>
                  We need your <strong>Name</strong>, 
                  <strong>email</strong> and 
                  <strong>Your Mpesa Phone Number</strong> to complete the order
                </p>
              </div>
              
              <div class="user-name">
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name">
              </div>
              <div class="user-email">
                <p>Email (<strong>optional</strong>)</p>
                <input type="text" placeholder="Email (...@gmail.com)">
              </div>
              <div class="user-mpesa-number">
                <p>Mpesa Phone Number</p>
                <input type="number" placeholder="07...">
              </div>
              <div class="terms-conditions">
                <p>
                  <input type="checkbox" required style="width: 20px; height: 20px;">
                  Terms and Conditions Apply
                </p>
              </div>
              <div class="pay">
                <button id="submit-payment">Pay</button>
              </div>
            </div>

            <div class="mpesa-paybill-option" style="display: none;">
              <div class="payment-directions">
                <h4>Mpesa Paybill</h4>
                <p>
                  We need your <strong>Name</strong>, 
                  <strong>email</strong> and 
                  <strong>Phone Number</strong> to complete the order
                </p>
                <div>
                  <h4>PayBill Number</h4>
                  <strong>2315463</strong>
                </div>
              </div>
              
              <div class="user-name">
                <input type="text" placeholder="First Name">
                <input type="text" placeholder="Last Name">
              </div>
              <div class="user-email">
                <p>Email (<strong>optional</strong>)</p>
                <input type="text" placeholder="Email (...@gmail.com)">
              </div>
              <div class="user-number">
                <p>Phone Number</p>
                <input type="number" placeholder="07...">
              </div>
              <div class="mpesa-code">
                <p>Mpesa Transition Code</p>
                <input type="number" placeholder="Q...">
              </div>
              <div class="terms-conditions">
                <p>
                  <input type="checkbox" required style="width: 20px; height: 20px;">
                  Terms and Conditions Apply
                </p>
              </div>
              <div class="confirm">
                <button id="confirm-payment">Confirm</button>
              </div>
            </div>
          </div>
        </div>
      </section>

    
      <!-- ==== img design ==== -->
      <style>
        div.img-design {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 10px;
        }
        div.img-design img {
          width: 90%;
        }
      </style>
      <div class="img-design">
        <!-- <img src="../static/images/checkout-page.jpg" alt=""> -->
      </div>
      <!-- ==== img design end ==== -->


      <section class="categories-section">
        <div class="categories-container">
          <span id="left-scroll"><</span>

          <div class="category"><a href="#">Arduino</a></div>
          <div class="category"><a href="#">Acceptor</a></div>
          <div class="category"><a href="#">Boards</a></div>
          <div class="category"><a href="#">Bluetooth Modules</a></div>

          <div class="category"><a href="#">Connectors</a></div>
          <div class="category"><a href="#">Crystals & Oscillators</a></div>
          <div class="category"><a href="#">Digital Timer</a></div>
          <div class="category"><a href="#">Displays</a></div>
          <div class="category"><a href="#">Motors</a></div>
          <div class="category"><a href="#">MP3 Modules</a></div>
          <div class="category"><a href="#">Sensors</a></div>
          <div class="category"><a href="#">Potentiometers</a></div>
          <div class="category"><a href="#">Thermoelectric Modules</a></div>
          <div class="category"><a href="#">Solenoid Valve</a></div>
          <div class="category"><a href="#">Raspberry Pi</a></div>
          <div class="category"><a href="#">Water Flow Sensors</a></div>
          <div class="category"><a href="#">
            Wifi Modules</a></div>
          <div class="category"><a href="#">Water Pump</a></div>
          <div class="category"><a href="#">Water Float Sensors</a></div>
          <div class="category"><a href="#">
            Water Flow Sensors</a></div>
          <div class="category"><a href="#">Wires and Cables</a></div>
          <div class="category"><a href="#">XBEE Modules</a></div>
          <span id="right-scroll">></span>
        </div>
      </section>
        
    </main>

    <!-- footer -->
    <footer>
      <section class="footer">
        <div class="info">
          <div class="info-links">
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">CONTACT US</a></li>
            <li><a href="#">RETURN POLICY</a></li>
            <li><a href="#">PRIVACY POLICY</a></li>
            <li><a href="#">TERMS AND CONDITIONS</a></li>
          </div>
          <div class="short-info">
            <p>Your best online electronic components shop 
              in Kenya and East Africa Specializing in all 
              types of electronic components & gadgets of 
              all shape and sizes.</p>
          </div>
        </div>
        <div class="terms">
          <div class="follow-us">
            <!-- <p>Follow Us</p> -->
            <a href="https://x.com/" target="_blank">
              <img src="../static/images/x.svg" alt="twiter icon">
            </a>
            <a href="https://www.facebook.com/" target="_blank">
              <img src="../static/images/fb.svg" alt="fb icon">
            </a>
            <a href="https://www.instagram.com/" target="_blank">
              <img src="../static/images/ig.svg" alt="ig icon">
            </a>
            <a href="https://www.linkedin.com/" target="_blank">
              <img src="../static/images/linkedin.svg" alt="linked in icon">
            </a>
            <a href="https://www.tiktok.com/" target="_blank">
              <img src="../static/images/tiktok.svg" alt="tiktok icon">
            </a>
          </div>
          <div class="terms-conditions">
            <a id="p-p" href="#">privacy policy</a>
            <a id="c-p" href="#">&copy; 2024 JD Tech, Juja</a>
            <a id="a-r-r" href="#">allrightsreverved</a>
          </div>
        </div>
      </section>
    </footer>
  </body>
<script src="../static/scripts/header.js"></script>
<script src="../static/scripts/main.js"></script>
</html>

