<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Item</title>
    <link rel="stylesheet" href="../static/styles/common.css" />
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/main-item.css">
    <link rel="stylesheet" href="../static/styles/footer.css">

  </head>
  <body>
    <header>
      <section id="header">

        <div class="menu-div">
          <div class="menu">
            <img id="menu-icon" menu-icon src="../static/images/menu-2.svg" alt="">
            <div id="menu-container" class="menu-container">
              <div id="menu-nav" class="menu-nav">
                <h3>Menu</h3>
                <ul class="menu-links">
                  <li><a href="http://192.168.100.70:5001/shop">Shop</a></li>
                  <li><a href="http://192.168.100.70:5001/category">All Categories </a></li>
                  <li><a href="http://192.168.100.70:5001/aboutus">About Us</a></li>
                  <li><a href="http://192.168.100.70:5001/contactus">Contact Us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="logo-name">
            <a href="">
              <img id="logo-icon" src="../static/images/comapany-logo.jpg" alt="">
            </a>
          </div>
        </div>

        <div class="search">
          <form class="search-bar" action="">
            <input id="search-input" search-input-data type="text" required>
            <button type="submit" search-btn ><img id="search-icon" src="../static/images/search-icon.svg" alt=""></button>
          </form>
          <div class="search-items-container" search-items-container>
            <ul class="loaded-items" loaded-items>
              <li ><a href="#">Audrinos</a></li>
              <li ><a href="#">Audio Sensors</a></li>
              <li ><a href="#">Audio Sensors Audio Sensor Audio Sensor Audio Sensor</a></li>
            </ul>
          </div>
        </div>

        <div class="account">
          <div class="profile">
            <div id="profile-div" class="profile-menu" profile-div>
              <img id="profile-icon" src="../static/images/profile-icon.svg" alt="">
              <p id="profile-name">Account</p>
            </div>
            <div id="profile-container" class="profile-container">
                <div id="profile-nav" class="profile-nav">
                  <h3>Account</h3>
                  <ul class="profile-links">
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="http://192.168.100.70:5001/orders">My Orders</a></li>
                    <li><a href="http://192.168.100.70:5001/account">My Account</a></li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="cart">
            <a href="http://192.168.100.70:5001/cart">
              <img id="cart-icon" src="../static/images/cart-icon.svg" alt="">
            </a>
            <span id="cart-items" cartItemCount >2</span>
          </div>
        </div>
      </section>
    </header>


    <!-- main body -->
    <main>
      <section class="item-display">
        <div class="item-container">
          <div class="display-img">
            <div class="item-img">
              <img id="curr-img" src="../static/images/audio-sensor.jpg" alt="">
            </div>
            <div class="img-list">
              <ul class="img-list">
                <li onclick="viewImg('../static/images/audio-sensor.jpg')"><img src="../static/images/audio-sensor.jpg" alt=""></li>
                <li onclick="viewImg('../static/images/resistors-2.jpg')"><img src="../static/images/resistors-2.jpg" alt=""></li>
                <li onclick="viewImg('../static/images/transistor-1.jpeg')"><img src="../static/images/transistor-1.jpeg" alt=""></li>
                <li onclick="viewImg('../static/images/voltage-regulator-3.jpg')"><img src="../static/images/voltage-regulator-3.jpg" alt=""></li>
                <!-- <li onclick="viewImg('../static/images/resistors-2.jpg')"><img src="../static/images/resistors-2.jpg" alt=""></li>
                <li onclick="viewImg('../static/images/transistor-1.jpeg')"><img src="../static/images/transistor-1.jpeg" alt=""></li>
                 -->
              </ul>
            </div>
          </div>
          <div class="display-info">
            <h2 id="item-name">Audio-Sensor</h2>
            <p id="item-desc">
              High Sensitivity Sound Microphone Sensor Detection 
              Module for Arduino AVR PIC High Sensitivity Sound 
              Microphone Sensor Detection Module for Arduino 
              AVR PIC
              High Sensitivity Sound Microphone Sensor Detection 
              Module for Arduino AVR PIC High Sensitivity Sound 
              Microphone Sensor Detection Module for Arduino 
              AVR PIC
              <br>High Sensitivity Sound Microphone Sensor Detection 
              Module for Arduino AVR PIC High Sensitivity Sound 
              Microphone Sensor Detection Module for Arduino 
              AVR PIC
              High Sensitivity Sound Microphone Sensor Detection 
              Module for Arduino AVR PIC High Sensitivity Sound 
              Microphone Sensor Detection Module for Arduino 
              AVR PIC
            </p>
            <h4 id="item-price"> Ksh 1,100</h4>
            <div class="chat">
              <a class="chat" href="#">
                <img src="../static/images/whatsapp-icon.svg" alt="">
                <p>Chat</p>
              </a>
            </div>
            <div class="item-action">
              <div class="add-to-cart">
                <a class="add-to-cart" href="#">
                  <img src="../static/images/cart-small-icon.svg" alt="">
                  <p>Add to Cart</p>
                </a>
              </div>
              <div class="buy-now">
                <a class="buy-now" href="#">
                  <img src="../static/images/click-small-icon.svg" alt="">
                  <p>Buy Now</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="item-info">
        <h3>About This Item</h3>
        <div class="item-info-container">
          <div class="item-details">
            <h4>Details and Dimentions</h4>
            <ul>
              <li>
                <p class="detail-name">Brand</p>
                <p class="detail-detail">SZCY LCC</p>
              </li>
              <li>
                <p class="detail-name">Model Name</p>
                <p class="detail-detail">2wnjejk232 21212212</p>
              </li>
              <li>
                <p class="detail-name">Voltage</p>
                <p class="detail-detail">42 Volts</p>
              </li>
              <li>
                <p class="detail-name">Hosepower</p>
                <p class="detail-detail">4 Hp</p>
              </li>
            </ul>
          </div>
          <div class="item-description">
            <h4>Product Full Description</h4>
            <p class="item-full-description">
              High Sensitivity Sound Microphone Sensor Detection 
              Module for Arduino AVR PIC High Sensitivity Sound 
              Microphone Sensor Detection Module for Arduino 
              AVR PIC
            </p>
          </div>
        </div>

      </section>

      <!-- ===== img ==== -->
      <style>
        div.at-item img {
          width: 400px;
        }
      </style>
      <div class="at-item">
        <!-- <img src="../static/images/at-item.jpg" alt="img-"> -->
      </div>
      <!-- ===== img end ==== -->

      <section class="categories-section">
        <div class="categories-container">
          <span id="left-scroll"><</span>

          <div class="category"><a href="#">Arduino</a></div>
          <div class="category"><a href="#">Acceptor</a></div>
          <div class="category"><a href="#">Boards</a></div>
          <div class="category"><a href="#">Bluetooth Modules</a></div>

          <div class="category"><a href="#">Connectors</a></div>
          <div class="category"><a href="#">Crystals & Oscillators</a></div>
          <div class="category"><a href="#">Digital Timer</a></div>
          <div class="category"><a href="#">Displays</a></div>
          <div class="category"><a href="#">Motors</a></div>
          <div class="category"><a href="#">MP3 Modules</a></div>
          <div class="category"><a href="#">Sensors</a></div>
          <div class="category"><a href="#">Potentiometers</a></div>
          <div class="category"><a href="#">Thermoelectric Modules</a></div>
          <div class="category"><a href="#">Solenoid Valve</a></div>
          <div class="category"><a href="#">Raspberry Pi</a></div>
          <div class="category"><a href="#">Water Flow Sensors</a></div>
          <div class="category"><a href="#">
            Wifi Modules</a></div>
          <div class="category"><a href="#">Water Pump</a></div>
          <div class="category"><a href="#">Water Float Sensors</a></div>
          <div class="category"><a href="#">
            Water Flow Sensors</a></div>
          <div class="category"><a href="#">Wires and Cables</a></div>
          <div class="category"><a href="#">XBEE Modules</a></div>
          <span id="right-scroll">></span>
        </div>
      </section>

      
    </main>

    <!-- footer -->
    <footer>
      <section class="footer">
        <div class="info">
          <div class="info-links">
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">CONTACT US</a></li>
            <li><a href="#">RETURN POLICY</a></li>
            <li><a href="#">PRIVACY POLICY</a></li>
            <li><a href="#">TERMS AND CONDITIONS</a></li>
          </div>
          <div class="short-info">
            <p>Your best online electronic components shop 
              in Kenya and East Africa Specializing in all 
              types of electronic components & gadgets of 
              all shape and sizes.</p>
          </div>
        </div>
        <div class="terms">
          <div class="follow-us">
            <!-- <p>Follow Us</p> -->
            <a href="https://x.com/" target="_blank">
              <img src="../static/images/x.svg" alt="twiter icon">
            </a>
            <a href="https://www.facebook.com/" target="_blank">
              <img src="../static/images/fb.svg" alt="fb icon">
            </a>
            <a href="https://www.instagram.com/" target="_blank">
              <img src="../static/images/ig.svg" alt="ig icon">
            </a>
            <a href="https://www.linkedin.com/" target="_blank">
              <img src="../static/images/linkedin.svg" alt="linked in icon">
            </a>
            <a href="https://www.tiktok.com/" target="_blank">
              <img src="../static/images/tiktok.svg" alt="tiktok icon">
            </a>
          </div>
          <div class="terms-conditions">
            <a id="p-p" href="#">privacy policy</a>
            <a id="c-p" href="#">&copy; 2024 JD Tech, Juja</a>
            <a id="a-r-r" href="#">allrightsreverved</a>
          </div>
        </div>
      </section>

    </footer>

  </body>
<script src="../static/scripts/header.js" type="module"></script>
<script src="../static/scripts/main.js"></script>
</html>
