
/* === account details sectio === */


section.account-details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 5px 0px;
}
.account-details-container {
    width: 95%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}
.user-img {
    width: 100px;
    height: 100px;
    padding: 5px;
}
.user-img > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.user-details {
    padding: 10px;
    border-left: 1px solid rgb(180, 180, 180);
}
.user-details :is(h1, h2, h3, h4, h5) {
    padding: 10px;
    color: rgb(0, 104, 0);
}
.user-details :is(p) {
    padding: 5px 10px;
    border-top: 1px solid rgb(170, 170, 170);
}
.user-details :is(strong) {
    padding: 5px 10px;
}

section.links-display {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0px;
}


/* ==== account-links section==== */

section.account-links {
    width: 30%;
    max-width: 300px;
}
.account-links-container {
    padding: 10px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
}
.account-links-container :is(h1, h2, h3, h4, h5) {
    color: green;
    text-align: center;
    padding: 20px 10px;
}
.account-links-container > ul {

    list-style: none;
}
.account-links-container > ul li {
    display: flex;
    width: 100%;
    border-top: 1px solid gray;
}
.account-links-container > ul a {
    width: 100%;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 15px 20px;
    transition: all 0.3s;
}
.account-links-container > ul a:hover {
    color: rgb(0, 107, 0);
    background-color: var(--input-bg-clr);
    padding: 15px 30px;
}

/* ==== display section ==== */

section.display {
    width: 65%;
    max-width: 800px;
}
.display-container {
    height: fit-content;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
}
.heading {
    padding: 10px;
    text-align: center;
    color: rgb(0, 122, 0);
}
.manage {
    width: 100%;
    padding: 0px 5px;
}
.manage > div {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-top: 1px solid gray;
}
.manage > div > div {
    width: 60%;
}
.manage > div :is(h3, h4, h5, p) {
    padding: 3px 20px;
}
.manage > div button {
    margin-left: 10%;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-size: large;
    cursor: pointer;
    transition: all 0.3s;
}
.manage > div button:hover {
    background-color: rgb(0, 185, 0);
}

.manage-delete :is(strong) {
    color: red;
}
button#delete-account {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 165, 165);
    border: none;
}
button#delete-account:hover {
    color: rgb(255, 0, 0);
    box-shadow: var(--hover-shadow);
}

@media (max-width: 750px) {
    section.links-display {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 0px 0px 20px 0px;
    }

    section.account-links {
        width: 95%;
        max-width: 800px;
    }
    .account-links-container {
        padding: 5px;
    }
    .account-links-container :is(h1, h2, h3, h4, h5) {
        padding: 10px;
        font-size: small;
    }

    .account-links-container > ul {
        display: flex;    
        list-style: none;
        /* overflow-x: scroll; */
    }
    .account-links-container > ul li {
        display: flex;
        border: 1px solid gray;
        border-radius: 5px;
    }
    .account-links-container > ul a {
        width: 100%;
        text-decoration: none;
        text-align: center;
        font-size: small;
        padding: 10px 5px;
    }
    .account-links-container > ul a:hover {
        color: rgb(0, 107, 0);
        background-color: var(--input-bg-clr);
        padding: 10px 20px;
    }

    section.display {
        width: 95%;
    }
    .display-container {
        padding: 5px;
    }
    .heading {
        padding: 10px;
        font-size: small;
    }

    .manage > div :is(h3, h4, h5, p) {
        font-size: small;
    }
    .manage > div :is(button) {
        font-size: small;
    }

}