

/* section.category-sec * {
    border: 1px solid gray;
} */

section.category-sec {
    width: auto;
    padding: 5px;
}
div.cat {
    margin-top: 20px;
    border-radius: 5px;
}
.heading {
    padding: 10px;
    text-align: center;
    color: var(--heading-clr);
}
.category-cont {
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    
    gap: 10px;
}
.column-container {
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.-cat- {
    height: fit-content;
    border: var(--border-global);
    border-radius: 5px;
    background-color: white;
}
.-cat- h4 {
    padding-top: 10px;
    text-align: center;
    color: var(--btn-clr);
}
.-cat- ul {
    list-style: none;
    padding: 10px;
}
.-cat- ul li {
    width: auto;
    display: flex;
    border-top: var(--border-global-faded);
}
.-cat- ul a {
    text-decoration: none;
    color: var(--product-text-clr);
    padding: 10px;
    width: 100%;
    
    transition: all 0.3s;
}
.-cat- ul a:hover {
    color: var(--heading-clr);
    padding-left: 20px;
    background-color: var(--input-bg-clr);
}

