
/* section.us * {
    border: 1px solid gray;
} */
section.us {
    width: 100%;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heading {
    padding: 10px;
    text-align: center;
    color: var(--heading-clr);
}
.us-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.us-container > div {
    min-width: 300px;
    max-width: 500px;
    background-color: white;
    height: fit-content;
    border: 1px solid gray;
    border-radius: 5px;
}
.us-container > div :is(h1, h2, h3, h4, h5) {
    text-align: center;
    padding: 10px;
    color: rgb(1, 117, 1);
}
.us-container > div :is(p) {
    font-size: 17px;
    padding: 10px;
    padding-left: 20px;
}
.us-container > div :is(strong) {
    padding: 5px;
}
@media (max-width: 700px) {
    .us-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;                    
    }
    .us-container > div {
        width: 100%;
    }
    .us-container > div :is(p) {
        font-size: 12px;
    }
}

section.map {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.map-container {
    max-width: 500px;
}
.map-container img {
    width: 100%;
    border-radius: 10px;
}
@media (max-width: 500) {
    .map-container {
        max-width: 400px;
    }
}



section.contact-us {
    width: 100%;
    padding: 10px;
    padding-top: 20px;
    background-image: url(../images/ship.jpeg);
}
.contact-us-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contact-us-container form {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    background: rgba(93, 75, 255, 0.137);
    backdrop-filter: blur(0.5px);
}
.contact-us-container form > div {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.address > div :is(p) {
    color: rgb(10, 124, 0);
    padding: 5px;
}
.address > div :is(input) {
    border: 1px solid gray;
    border-radius: 5px;
    min-width: 300px;
    padding: 10px;
    font-size: large;            
}
.message {
    padding: 10px;
}
.message textarea {
    padding: 10px;
    font-size: large;
    border-radius: 5px;
}
.submit-msg {
    padding: 10px;
}
.submit-msg button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: large;
    background-color: green;
    color: white;
    transition: all 0.3s;
    border: none;
}
.submit-msg button:hover {
    background-color: rgb(0, 241, 0);
    color: black;
    box-shadow: var(--hover-shadow);
}
@media (max-width: 950px) {
    .address > div :is(input) {
        border: 1px solid gray;
        border-radius: 5px;
        min-width: 200px;
        padding: 10px;
        font-size: large;            
    }
}

@media (max-width: 700px) {
    .contact-us-container form > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .address > div :is(p) {
        font-size: medium; 
    }
    .address > div :is(input) {
        border: 1px solid gray;
        border-radius: 5px;
        min-width: 400px;
        padding: 10px;
        font-size: medium;            
    }
    .message textarea {
        font-size: medium;
    }
    .submit-msg button {
        padding: 10px 30px;
        font-size: medium;
    }
}